@media screen and (max-width: 1400px) {
    .banner-content{
        gap: 320px;
    }

    .banner-title{
        font-size: 105px;
    }

    .banner-thumb{
        width: 300px;
    }

    .banner-content .banner-content-left {
        width: 40%;
    }

    .banner-content .banner-content-right {
        width: 60%;
        justify-content: end;
    }
}

@media screen and (max-width: 1200px) {
    .banner-content{
        display: flex;
        gap: 280px;
    }

    .banner-title{                  
        font-size: 85px;
    }

    .banner-thumb{
        width: 260px;
    }

    .banner-content .banner-content-left {
        width: 40%;
    }

    .banner-content .banner-content-right {
        width: 60%;
        justify-content: end;
    }
}

@media screen and (max-width: 991px) {
    .section-title{
        font-size: 54px;
    }

    .nav-links{
        display: none;
        text-align: center;
        padding-bottom: 1rem;
    }

    .nav-links .nav{
        flex-direction: column;
        gap: 1.5rem;
    }

    .header-btn{
        display: none;
    }

    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .banner-title{
        font-size: 85px;
    }

    .banner-thumb{
        position: static;
        transform: none;
        width: 260px;
    }

    .banner-content .banner-content-left {
        width: 100%;
        display: block;
    }

    .banner-content .banner-content-right {
        width: 100%;
        justify-content: end;
    }

    .banner-content .banner-content-right .banner-title{
        margin-top: 0;
    }

    .custom-accordion .accordion-item .accordion-button{
        font-size: 28px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .section-title{
        font-size: 46px;
    }

    .header{
        max-width: 290px;
    }

    .custom-accordion .accordion-item .accordion-button{
        font-size: 22px;
        padding-bottom: 14px;
    }
}

@media screen and (max-width: 576px) {
    .section-title{
        font-size: 36px;
    }

    .header{
        max-width: 290px;
    }
}